.Logos {
  width: 100%;
  height: 135px;
  object-fit: cover;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}



.star {
  color: orange;
}

.heart-icon {
  color: var(--heart-color);
  vertical-align: middle;
}

.Web-topics {
  color: var(--brand-primary);
  font-size: 1.2rem;
  text-decoration: none;
}

.moon-shape {

vertical-align: middle;
}

.head-buttons {
  background-color: var(--bg_default);
  color: var(--body-text);
  font-weight: 400;
  border-style: solid;
  border-color: rgba(170, 169, 169, 0.5);
  border-radius: 5px;
  border-width: 1px;
  font-size: 1.1rem;
padding: 0.5rem;
width: 9rem;

}

.welcome-message {
  color: var(--brand-secondary);
  font-size: 2.2rem;
  font: weight 700px;
  margin-bottom: 2px;
  margin: 0;
}

.welcome-descrip {
  font-size: 1.1rem;
  color: var(--body-text);
  margin-top: 1px;
  font-weight: normal;
}





.search-icon {
  color: var(--body-text);
padding: 0.6rem;
  position: absolute;
  margin-left: 0.3rem;
  
  
 

}

.search-bar {
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  padding-left: 2.8rem;
  flex: 1;
  border-color: rgba(170, 169, 169, 0.5);
  border-width: 1px;
  background-color: var(--bg_default);
  
}

.drop-down {
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  flex-direction: column;
  border: solid;
  border-color: rgba(170, 169, 169, 0.5);
  border-width: 1px;
  background-color: var(--bg_default);
  width: 10rem;
  font-size: 12px;
  color: var(--body-text);
}

select {
  border: none;
  font-size: 1rem;
  padding-left: 0px;
}

.filter-by-drop-down {
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;

}

.course-card {
  max-width: 100%;
  background-color: var(--bg_default);
  border-radius: 1rem;
  padding: 0.1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
 
}

.card-information {
  padding-left: 10px;
}

.rating-stars {
  display: flex;
  margin-top: 2rem;
}

.course-title {
  font-size: 1.1rem;
  font-weight: bold;
  margin: 0;
  color: var(--body-text);
}

.course-descrip {
  margin-bottom: 0;
  color: var(--body-text);
}

.course-author {
  margin-top: auto;
  font-size: 0.8 rem;
  color: rgb(123, 121, 121);

}

.footer {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  color: var(--body-text);
}